@import "//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
html {
  font-size: 62.5%; // ブラウザのデフォルト：16px → x62.5% → 10px
  // rem は html要素の font-size の何倍かの指定ができる。
  // SP対応をする時、全体的に大小したい時に便利。
}

body {
  font: 1.4em/1.6 Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, 'メイリオ', Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; // font-size: 1.6rem;
  // line-height: 1.6;
  // font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, 'メイリオ', Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #222;
}

*,
*::before,
*::after {
  box-sizing: border-box; // padding や border を指定しても、width / height の指定があれば、要素が広がらなくなる。
}

.inner {
  width: 1000px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  .sect & {
    // padding: 10px;
    border: 1px #ccc solid;
    border-radius: 3px;
  }
}

// セクション用クラス
.sect {
  margin: 40px 0;
  &Title {
    font-size: 1.4em;
    font-weight: bold;
    background: #f4f4f4;
    border-bottom: 1px #ccc solid;
    padding: .5em 0 .5em 1em;
  }
  &H2 {
    font-size: 1.4em;
    font-weight: bold;
  }
  &Body {
    padding: 20px;
  }
  &Contents {
    margin-bottom: 20px;
    ul {
      list-style-type: disc;
      padding-left: 1em;
    }
  }
  &Table {
    width: 100%;
    th {
      background: #f4f4f4;
      font-weight: bold;
    }
    th,
    td {
      padding: 4px 6px; // border: 1px #aaa solid;
      border-top: 1px #aaa solid;
      border-left: 1px #aaa solid;
      text-align: left;
    }
    tr {
      border-right: 1px #aaa solid;
      border-bottom: 1px #aaa solid;
    }
  }
}